* {
    box-sizing: border-box;
}

body {
    margin: 0;
    list-style: none;
}

nav {
    background-color: darkgray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px;
    font-size: small;
}

nav a:hover {
    background-color: lightskyblue;
}

nav span {
    text-decoration: none;
    color: black;
    padding: .2em;
    font-size: 3em;
    position: relative;
    left: -30px;
}

nav ul li:nth-child(6) {
    margin-left: auto;
}

nav ul li:nth-child(4) {
    margin-right: auto;
}

footer {
    position: relative;
    margin-top: 48%;
}