:root {
    --bg-info: #cbdcff;
    --text-info: #6a5acd;
    --bg-success: #c6f7d9;
    --text-success: green;
    --bg-warning: #fbfec4;
    --text-warning: darkgoldenrod;
    --bg-error: #ffd1d6;
    --text-error: darkred;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 50%;
    margin: 8px auto;
    border: solid white;
    border-radius: 8px;
    padding: 5px;
}

.message-info {
    /*background-color: #cbdcff;*/
    background-color: var(--bg-info);
    color: var(--text-info);

}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}
