/*
multi
line
comment
*/

* {
    font-family: 'Audiowide', cursive;
}

@keyframes picturePop {
    0% {
        transform: scale(0.1) translate(100%, 100%);
        /*transform: matrix(2,1,1,2,2,2);*/
        opacity: 5%;
    }
    60% {
        /*transform: scale(.8);*/
        transform: matrix(1);
        opacity: 70%;
    }
    100% {
        transform: scale(1);
    }
}

div {
    animation: picturePop 5s;
}

div > p {
    animation: picturePop 8s;
}


table, th, td {
    border: 1px solid black;
    padding: 5px;
}


ul.a {
    list-style-type: cjk-ideographic;
}


ul.b {
    list-style-type: upper-roman;
}


h1 {
    text-align: center;
}


.fancy-header {
    color: mediumpurple; /* single line comment */
    text-decoration: underline;
}


body {
    background-color: aliceblue;
    background-image: url('../img/jarvis.png');
    background-blend-mode: overlay;
}


a:link {
    color: blue;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: green;
}

a:active {
    color: cadetblue;
}


